{plugins, [rebar3_run]}.

{deps,
 [
  {getopt, "0.8.2"},
  {lager, "3.5.1"},
  {folsom, "0.8.5"},
  hackney,
  jsx
 ]}.

{erl_opts, [{src_dirs, [src]},
           {parse_transform, lager_transform}]}.

{escript_incl_apps, [lager,getopt,folsom]}.

{escript_emu_args, "%%! -name bench@127.0.0.1 +K true -rsh ssh -noshell -noinput +P 1222333 +Q 1222333 +zdbbl 32768\n"}.
