{plugins, [rebar3_run]}.

{deps,
 [
  {getopt, "0.8.2"},
  {lager, "3.5.1"},
  {folsom, "0.8.5"}
 ]}.

{erl_opts, [{src_dirs, [src]},
           {parse_transform, lager_transform}]}.

{escript_incl_apps, [bear,lager,folsom,getopt,bear]}.

{escript_emu_args, "%%! +K true\n"}.
%% Use this for the Java client bench driver
%% {escript_emu_args, "%%! +K true -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
{escript_emu_args, "%%! +K true -name bb@127.0.0.1 -setcookie YOUR_ERLANG_COOKIE\n"}.
