{mode, max}.

{duration, 2}.

{concurrent, 5}.

{driver, basho_bench_driver_antidote}.

{key_generator, {pareto_int, 2000}}.
{value_generator, {fixed_bin, 10}}.

{operations, [{append, 1}, {read, 10}]}.

%% the second element in the list below (e.g., "../../public/bitcask")
%% must point to % the relevant directory of a bitcask installation
{code_paths, ["../antidote/ebin"]}.

{antidote_cookie, antidote}.

{antidote_mynode, ['antidote_bench@127.0.0.1', longnames]}.
%{antidote_types, [{riak_dt_gcounter, [increment]}, {riak_dt_gset, [add]}]}.
{antidote_types, [{riak_dt_gcounter, [increment]}]}.
%{antidote_types, [{crdt_pncounter, [increment]}, {crdt_orset, [add]}]}.
%{antidote_types, [{crdt_pncounter, [increment]}, {crdt_orset, [add]}]}.
%{antidote_nodes, ['antidote@127.0.0.1']}.
%,'antidote@172.31.24.102']}.
{antidote_nodes, ['dev1@127.0.0.1']}.

{measurements, [{staleness1, 10}, {staleness2,10}]}.