{mode, {rate, 20}}.
%%{mode, max}.

{duration, 2}.

{concurrent, 5}.

{driver, basho_bench_driver_antidote_pb}.

{key_generator, {biased_partial, 2000, 2, 0.00}}.
{value_generator, {fixed_bin, 10}}.

{operations, [{append, 1}, {read, 100}]}.

%% the second element in the list below (e.g., "../../public/bitcask")
%% must point to % the relevant directory of a bitcask installation
{code_paths, ["../antidote/ebin"]}.

{antidote_pb_port, 10037}.
{antidote_cookie, dev3}.

{antidote_pb_num_dcs, 3}.
{antidote_pb_nodes_per_dc, 1}.
{antidote_pb_dc_id, 3}.

%% Use the following parameter to set the size of the orset
{set_size, 50}.

{antidote_mynode, ['antidote_bench1@127.0.0.1', longnames]}.
%%{antidote_types, [{riak_dt_gcounter, [increment]}]}.
{antidote_types, [{riak_dt_pncounter, [increment, decrement]}]}.
%%{antidote_types, [{riak_dt_pncounter, [increment, decrement]}, {riak_dt_orset, [add, remove]}]}.
{antidote_pb_ips, ['127.0.0.1']}.
