{mode, max}.

{duration, 5}.

{concurrent, 50}.

{driver, basho_bench_driver_antidote_social}.

{key_generator, {pareto_int, 2000}}.
{value_generator, {fixed_bin, 10}}.

{operations, [{update_status, 2}, {read_msg, 10}, {send_friend_request, 1}, {answer_friend_request, 1}, {post_message, 2}, {read_friend_list, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask")
%% must point to % the relevant directory of a bitcask installation
{code_paths, ["../antidote/ebin"]}.

{antidote_nodes, ['antidote@127.0.0.1']}.
{antidote_cookie, antidote}.

{antidote_mynode, ['antidote_bench@127.0.0.1', longnames]}.
{antidote_numclients, 50}. %% This must be same as concurrent. Assumption, clientids are from 1 to NumClients.
