{mode, max}.

{duration, 3}.

{concurrent, 20}.

{driver, basho_bench_driver_antidote_pb}.

{key_generator, {pareto_int, 2000}}.
{value_generator, {fixed_bin, 10}}.

{operations, [{append_multiple, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask")
%% must point to % the relevant directory of a bitcask installation
{code_paths, ["../antidote/ebin"]}.

{antidote_pb_port, 8087}.
{antidote_cookie, antidote}.

{antidote_mynode, ['antidote_bench@127.0.0.1', longnames]}.
{antidote_types, [{riak_dt_pncounter, [increment, decrement]}]}.
%%{antidote_types, [{riak_dt_pncounter, [increment, decrement]}, {riak_dt_orset, [add, remove]}]}.
{antidote_pb_ips, ['127.0.0.1']}.
