{mode, max}.

{duration, 1}.
{report_interval, 1}.

{concurrent, 8}.

{driver, basho_bench_driver_simple}.

{key_generator, {sequential_int, 5000000}}.
{disable_sequential_int_progress_report, true}.
{value_generator, {fixed_bin, 10248}}.

{operations, [{add_two_numbers, 15},
              {subtract_two_numbers, 3},
              {get_random_string, 2}]}.
