{mode, max}.

{duration, 1}.

{concurrent, 1}.

{driver, basho_bench_driver_floppystore}.

{key_generator, {int_to_bin_bigendian,{uniform_int, 5000000}}}.

{value_generator, {fixed_bin, 100}}.

{operations, [{append, 1}, {read, 1}]}.

%% the second element in the list below (e.g., "../../public/bitcask") must point to 
%% the relevant directory of a bitcask installation 
{code_paths, ["../floppystore/ebin"]}.

{floppystore_nodes, ['floppy@127.0.0.1']}.
{floppystore_cookie, floppy}.

{floppystore_mynode, ['floppy_bench@127.0.0.1', longnames]}.
{floppystore_types, [{riak_dt_gcounter, [increment]}, {riak_dt_gset, [add]}]}.
